/.appcfg_cookies
/.appcfg_nag
/.aptitude/*
/.aspell.en.prepl
/.authinfo
/.bash_history
/.cache/*
/.config/*
/.cvspass
/.dbus/*
/.emacs.d/.*
/.emacs.d/auto-backup/*
/.emacs.d/auto-save-list/*
/.emacs.d/elisp-3rdparty
/.emacs.d/elisp-3rdparty/*
/.emacs.d/memos/*
/.emacs.d/gnus/*
/.emacs.d/gtd/*
/.emacs.d/info/*
/.emacs.d/tramp
/.esd_auth
/.eshell/*
/.fastri-index
/.fcitx/*
/.fontconfig/*
/.fvwm/*
/.gconfd/*
/.gem
/.gitconfig
/.gitk
/.gnome/*
/.gnupg/*
/.gnuplot_history
/.htoprc
/.irb_history
/.lesshst
/.local/*
/.mailrc
/.mc/*
/.mozilla/*
/.msmtprc
/.netrc
/.privatebashrc
/.pulse-cookie
/.qt/*
/.recently-used.xbel
/.rnd
/.scim/*
/.sdcv_history
/.sqlite_history
/.ssh
/.subversion/*
/.synaptic/*
/.texmf-var/*
/.tor/*
/.viminfo
/.vnc/*
/.w3m/*
/.xinput.d/*
/.Xauthority
/.xmms/*
/devspace/*
/muse/*
/public_html/*
/rel/*
/repos/*
/tmp/*
/windows
/workspace/*
/*.pdf
